*{
    margin: 0%;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   
    background:linear-gradient (
    #0d0d0d, #212121);
    font-family:
    "Poppins";
    color:rgb(7, 7, 7);
    
 
    
}


.headcontainer{
    background-color: rgb(255, 255, 255);
    padding: 10px ;
    position: sticky; top: 0;
    z-index: 2;
    filter: drop-shadow(0px 4px 13px #0b0421);
}
.headcontainer nav ul li i{
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;
}
.headcontainer nav ul li i:hover{
    color: rgb(240, 194, 68);
    transition: 0.5s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.menu{
    margin-right: 5%;
}

.logo{
   width: 100px;
   margin-left: 85%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: none;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(0,121,227);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    padding-left: 15%;
    font-size: 30px;
    transition: 0.5s;
    animation: fadeIn 1.5s ease 1s forwards;
    opacity: 0;
}
.header-text h1{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}
.header-text h2{
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(103, 236, 103);
    padding: 10px;
}
.header-text h1 span{
    color: rgb(242, 245, 248);
    padding: 5px;
}
.btn{
    width: 140px;
    height: 50px;
    font-size: 17px;
    padding: 8px;
    margin-top: 20px;
    background-color: white;
    color: rgb(0, 121, 227);
    border-radius: 7px;
    border: rgb(0, 0, 0) 2px solid;
    outline: white 1px solid;
    transition: 0.5s;
    cursor: pointer;
}
.btn:hover{
    width: 150px;
    color: white;
    background-color: rgb(240, 194, 68) ;
    border: rgb(0, 0, 0) 1px solid;
    transition: 0.5s;
}
.profiles a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 50px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.profiles a:hover{
    color: rgb(240, 194, 68);
    transform: translateY(-5px);
}
.intro{
  font-size: 25px; 
  color: rgb(255, 255, 255); 
  padding: 10px;
  
  letter-spacing: 3px;
  animation: fadeIn 1s ease 1.5s forwards;
  opacity: 0;
}

/* Banner Styles */
.banner {
    display: flex;
    position: relative;
    overflow: hidden;
    line-height: 30px;
  }
  .banner__left {
    
    width: 35%;
    height: 600px;
    background-color: rgb(240, 194, 68) ;
    color: #FFFFFF;
    position: relative;
    transition: width 0.5s ease;
  }
  .banner__right {
    width: 65%;
    height: 600px;
    background-color: rgb(0,121,227);
    position: relative;
    transition: width 0.5s ease;
  }
  .banner__profile {
    position:absolute;
    left: 100%;
    transform: translateX(-50%);
    bottom: 0;
    width: 500px;
    z-index: 1;
    filter: drop-shadow(-19px 4px 13px #0b0421);
    transition: transform 0.5s ease, opacity 0.5s ease;
    
  }
  .banner__content {
    position: absolute;
    left: 16%;
    top: 20%;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: fadeIn 1s ease forwards;
  }
  .banner__title {
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease 0.5s forwards;
    opacity: 0;
  }
  .banner__title--l {
    font-size: 40px;
  }
  .banner__title--m {
    font-size: 30px;
  }
  .banner__description {
    font-size: 30px;
    font-family: "Caveat", cursive;
    letter-spacing: 5px;
    animation: fadeIn 1s ease 1s forwards;
    opacity: 0;
  }
  
  
  /* Banner Content Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 /*-------------------About-------------------------*/
 .about_me{
    height: 85vh;
 }
  .title {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
  .title__end {
    color: rgb(240, 194, 68);
  }
  .aboutMeContainer {
    display: flex; /* Specifies that the container should display its children as flex items */
    gap: 20px; /* Specifies a gap of 20px between the flex items inside the container */
    height: 60vh; /* Sets the height of the container to 100% of the viewport height */
    align-items: center;
    margin-left: 50%;
  }
  
  .card {
    height: 425px; /* Sets the height of the card to 300px */
    width: 300px; /* Sets the width of the card to 300px */
    margin: 10px 0; /* Sets a margin of 10px on the top and bottom and 0 on the left and right */
    transition: ease all 2.3s; /* Specifies the transition effect for all properties with a duration of 2.3s and easing function ease */
    perspective: 1200px; /* Specifies the perspective view for the 3D transformations */
    position:absolute;
    transform: translateX(-50%);
    z-index: 1;
    filter: drop-shadow(-19px 4px 13px #000000);
    transition: transform 0.5s ease, opacity 0.5s ease;
    animation: fadeIn 1s ease 0.5s forwards;
    opacity: 0;
  }
  
  .card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg); /* Rotates the cover element on the Y-axis when the card is hovered */
  }
  
  .card:hover .cover:before {
    transform: translateZ(30px); /* Translates the cover element along the Z-axis when the card is hovered */
  }
  
  .card:hover .cover:after {
    background-color: rgb(0, 0, 0); /* Changes the background color of the cover element to black when the card is hovered */
  }
  
  .card:hover .cover h1 {
    transform: translateZ(100px); /* Translates the h1 element along the Z-axis when the card is hovered */
  }
  
  .card:hover .cover .price {
    transform: translateZ(60px); /* Translates the price element along the Z-axis when the card is hovered */
  }
  
  .card:hover .cover a {
    transform: translateZ(-60px) rotatey(-180deg); /* Translates the link element along the Z-axis and rotates it on the Y-axis when the card is hovered */
  }
  
  .card .cover {
    position: absolute; /* Specifies the cover element to be positioned absolutely */
    height: 100%; /* Sets the height of the cover element to 100% */
    width: 100%; /* Sets the width of the cover element to 100% */
    transform-style: preserve-3d; /* Specifies that the cover element should preserve its 3D transformations */
    transition: ease all 2.3s; /* Specifies the transition effect for all properties with a duration of 2.3s and easing function ease */
    background-size: cover; /* Specifies that the background image should cover the entire container of the cover element */
    background-position: center center; /* Specifies the center position for the background image */
    background-repeat: no-repeat; /* Specifies that the background image should not repeat */
  }
  
  .card .cover:before {
    content: ''; /* Adds an empty content before the cover element */
    position: absolute; /* Specifies the pseudo-element to be positioned absolutely */
    border: 5px solid rgba(255, 255, 255, .5); /* Sets a border for the pseudo-element with a semi-transparent white color */
    box-shadow: 0 0 12px rgba(0, 0, 0, .3); /* Adds a shadow effect to the pseudo-element */
    top: 20px; /* Sets the top position of the pseudo-element */
    left: 20px; /* Sets the left position of the pseudo-element */
    right: 20px; /* Sets the right position of the pseudo-element */
    bottom: 20px; /* Sets the bottom position of the pseudo-element */
    z-index: 2; /* Sets the stacking order of the pseudo-element */
    transition: ease all 2.3s; /* Specifies the transition effect for all properties with a duration of 2.3s and easing function ease */
    transform-style: preserve-3d; /* Specifies that the pseudo-element should preserve its 3D transformations */
    transform: translateZ(0px); /* Translates the pseudo-element along the Z-axis */
  }
  
  .card .cover:after {
    content: ''; /* Adds an empty content after the cover element */
    position: absolute; /* Specifies the pseudo-element to be positioned absolutely */
    top: 0px; /* Sets the top position of the pseudo-element */
    left: 0px; /* Sets the left position of the pseudo-element */
    right: 0px; /* Sets the right position of the pseudo-element */
    bottom: 0px; /* Sets the bottom position of the pseudo-element */
    z-index: 2; /* Sets the stacking order of the pseudo-element */
    transition: ease all 1.3s; /* Specifies the transition effect for all properties with a duration of 1.3s and easing function ease */
    background: rgba(0, 0, 0, .4); /* Sets the background color of the pseudo-element to a semi-transparent black */
  }
  
  .card .cover.item {
    background-image: url('B1C015B2-57F7-483A-A884-ACFB32BA2226-fotor-bg-remover-20230611155359.png'); /* Sets the background image for the cover element */
  }
  
  .card > .cover > h1 {
    font-weight: 600; /* Sets the font weight of the h1 element to 600 (bold) */
    position: absolute; /* Specifies the h1 element to be positioned absolutely */
    bottom: 55px; /* Sets the bottom position of the h1 element */
    left: 50px; /* Sets the left position of the h1 element */
    color: white; /* Sets the text color of the h1 element to white */
    transform-style: preserve-3d; /* Specifies that the h1 element should preserve its 3D transformations */
    transition: ease all 2.3s; /* Specifies the transition effect for all properties with a duration of 2.3s and easing function ease */
    z-index: 3; /* Sets the stacking order of the h1 element */
    font-size: 2em; /* Sets the font size of the h1 element */
    transform: translateZ(0px); /* Translates the h1 element along the Z-axis */
  }
  
  .card > .card-back {
    position: absolute; /* Specifies the card-back element to be positioned absolutely */
    height: 100%; /* Sets the height of the card-back element to 100% */
    width: 100%; /* Sets the width of the card-back element to 100% */
    background: #0b0f08; /* Sets the background color of the card-back element */
    transform-style: preserve-3d; /* Specifies that the card-back element should preserve its 3D transformations */
    transition: ease all 2.3s; /* Specifies the transition effect for all properties with a duration of 2.3s and easing function ease */
    transform: translateZ(-1px); /* Translates the card-back element along the Z-axis */
    display: flex; /* Specifies that the card-back element should display its children as flex items */
    align-items: center; /* Specifies the alignment of the flex items along the cross axis */
    justify-content: center; /* Specifies the alignment of the flex items along the main axis */
  }
  .aboutMe__right{
    font-size: 20px; color: rgb(0, 0, 0); 
    text-align: left;
    padding-right: 8%;
    margin-left: 10%;
    letter-spacing: 1px;
    animation: fadeIn 1s ease 1.5s forwards;
    opacity: 0;
  }

.container{
    display: flex;
    position: relative;
    overflow: hidden;
    line-height: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}

.about-col-2{
    font-size: 18px;
    flex-basis: 60%;
    margin-top: 20px;
    padding-right: 15%;
    
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    padding-top: 10px;
    border-top:  2px solid white ;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 4px;
    background: rgb(0, 121, 227);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    display: none;
    animation: fadeIn 0.75s ease 0.20s forwards;
    opacity: 0;
}
.tab-contents ul li{
    
    margin: 10px 0;
}
#soft_skills span , #languages span{
    font-size: 20px;
    
}
.tab-contents p{
    font-size: 16px;
}
.skillcontainer {
    width: 50%;
    background-color:  black;
    transition: 0.5s;
  }
  .skillcontainer:hover{
    width: 55%;
    transition: 0.5s;
  }
  .skills {
    text-align: right;
    font-size: small;
    padding: 0.75px;
    color: black;
    transition: 0.5s;
  }
.skills:hover{
    padding: 1px;
    font-size: medium;
    transition: 0.5s;
}

.tab-contents.active-tab{
    display: block;
}

#education span{
    font-weight: bold;
    transition: 0.5s;
}

/* ----------------Technical Skill ----------------*/
.tSkills{
    background-color: rgb(0, 121, 227);
    animation: fadeIn 1s ease 1s forwards;
    opacity: 0;
    padding: 0% 10%;
   
    margin-top: 0;
    
}
.section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
@property --progress-value {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
  }
  @keyframes c-progress {
    to {
      --progress-value: 95;
    }
  }
  @keyframes cpp-progress {
    to {
      --progress-value: 90;
    }
  }
  @keyframes dsa-progress {
    to {
      --progress-value: 90;
    }
  }
  @keyframes oops-progress {
    to {
      --progress-value: 95;
    }
  }
  
  @keyframes html-progress {
    to {
      --progress-value: 95;
    }
  }
  @keyframes css-progress {
    to {
      --progress-value: 95;
    }
  }
  @keyframes js-progress {
    to {
      --progress-value: 60;
    }
  }
  @keyframes sql-progress {
    to {
      --progress-value: 75;
    }
  }
  .progress-bar-container {
    width: 25%;
    margin-bottom: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .progress-bar-container h2 {
    width: 100%;
    text-align: center;
    color: #000000;
  }
  
  .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) "%";
  }
  .c {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: c-progress 3s 1 forwards;
  }
  .c::before {
    animation: c-progress 3s 1 forwards;
  }
  .cpp {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: cpp-progress 3s 1 forwards;
  }
  .cpp::before {
    animation: cpp-progress 3s 1 forwards;
  }
  .dsa {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: dsa-progress 3s 1 forwards;
  }
  .dsa::before {
    animation: dsa-progress 3s 1 forwards;
  }
  .oops {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: oops-progress 3s 1 forwards;
  }
  .oops::before {
    animation: oops-progress 3s 1 forwards;
  }
  .html {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: html-progress 3s 1 forwards;
  }
  .html::before {
    animation: html-progress 3s 1 forwards;
  }
  
  .css {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: css-progress 3s 1 forwards;
  }
  .css::before {
    animation: css-progress 3s 1 forwards;
  }
  
  .js {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: js-progress 3s 1 forwards;
  }
  .js::before {
    animation: js-progress 3s 1 forwards;
  }
  .sql {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#0b0421 calc(var(--progress-value) * 1%), #FFFFFF 0);
    animation: html-progress 3s 1 forwards;
  }
  .sql::before {
    animation: sql-progress 3s 1 forwards;
  }
  
  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  
/*------------------My Projects-----------*/
#projects{
    padding: 0% 10%;
    margin: 0px;
    animation: fadeIn 1s ease 1s forwards;
    opacity: 0;
}
.projects-list{
  
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 40px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
}
.projects-list div{
    background-color: #c8c8c8;
    border: rgb(0, 121, 227) solid 2px;
    text-align: left;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
}
.projects-list div i{
    font-size: 45px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.projects-list div h2{
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a{
    
    margin-top: 20px;
    display: inline-block;
}
.projects-list div a button{
    width: 135px;
    height: 35px;
    font-size: 14px;
    padding: 2px;
    background-color: white;
    color: rgb(0, 121, 227);
    border-radius: 7px;
    border: rgb(0, 121, 227) 2px solid;
    outline: white 1px solid;
    transition: 0.5s;
    cursor: pointer;
}
.projects-list div a button:hover{
    width: 140px;
    height: 36px;
    color: white;
    background-color: rgb(240, 194, 68);
    border: rgb(0, 0, 0) 1px solid;
    transition: 0.5s;
}
.projects-list div:hover{
    background: rgb(240, 194, 68);
    transform: translateY(-10px);
}
.projects-list div i:hover{
    
    font-size: 50px;
    transition: 0.5s;
}
/*--contacts--*/
.contactInfo{
    font-size: 16px;
    margin-left: 40%;
    animation: fadeIn 1s ease 0.5s forwards;
    opacity: 0;
}
.contactInfo p{
    padding: 5px;
}
.contactInfo p i{
    
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin: 10px 20%;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(0,121,227);
    transform: translateY(-5px);
}

.hide-phone-number {
    display: inline-block;
    font-family: monospace, monospace;
    position: relative;
  }
.hide-phone-number::after {
    margin-top: 1px;
   content: "XXXXXX";
   background: rgb(240, 194, 68);
   position: absolute;
   right: 24px;
}
  
form input, form textarea{
    width: 90%;
    height: 30%;
    border: 1px solid rgb(0,121,227);
    outline: none;
    background:  rgba(244, 244, 244, 0.85);
    padding: 15px;
    margin: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 6px;
}
.cForm{
    border: #ffffff solid 2px;
    border-radius: 10px;
    margin: 5% 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.51);
    filter: drop-shadow(-19px 4px 13px #000000);
    animation: fadeIn 1s ease 0.5s forwards;
    opacity: 0;
}
.contactform{
    padding: 10px;
    justify-content: center;
}

.submitmsg{
    font-size: large;
    color: rgb(0, 255, 0);
    display: block;
}

.copyright{
    width: 100%;
    text-align: center;
    background-color:  #0d0d0d;
    font-weight: 300;
}
.copyright p {
    padding: 10px;
    color: white;
}


/*----CSS for small screens-----*/
nav .fa-bars{
    display: none;
}
nav .fa-xmark{
    display: none;
}
@media only screen and (max-width: 1024px){
    #header{
        background-attachment:fixed;
        background-position: center;
        background-size: cover;
    }
    .header-text{
        margin-top: 25%;
        font-size: 18px;
        padding-left: 0%;
    }
    .logo{
      margin-left: 40%;
    }
    .header-text h1 , .about-col-1 h1 , .container h1 , .contact-left h1{
        font-size: 28px;
        padding: 2%;
        margin: 0%;
        
    }
    .intro{
      font-size: 20px;
      letter-spacing: 4px;
    }
    .profiles{
      margin-left: 5%;
    }
    .profiles a{
      font-size: 30px;
    }
    .btn{
      width: 120px;
      height: 40px;
      font-size: 15px;
      margin-left: 5%;
    }
    .btn:hover{
      width: 130px;
    }
    #about{
        height: auto;
    }
    
    .tab-titles{
        justify-content: space-between;
    }
    .tab-links{
        font-size: medium;
    }
    #education{
        padding: 1px;
    }
    #education li{
        padding-top: 4px;
    }
    nav .fa-bars{
        display: block;
        font-size: 25px;
        margin-right: 35px;
    }
    nav .fa-xmark{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        top: 0;
        right: -150px;
        width: 125px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px 30px;
    }
    nav ul .fa-xmark{
        font-size: 25px;
        position: absolute;
        top: 22.5px;
        left: 80px;
        cursor: pointer;
    }
    .profiles a{
        font-size: 30px;
    }
    .scroll{
        margin-top: 60px;
        font-size: 15px;
    }
    .tSkills{
      padding: 0 5%;
    }
    .progress-bar-container{
      width: 45%;
    }
    .projects-list{
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .projects-list div{
      font-size: 12px;
    }
    .projects-list div h2{
        font-size: 20px;
    }
    .projects-list div a button{
      width: 115px;
      font-size: 12px;
    }
    .projects-list div a button:hover{
      width: 120px ;
    }
    .card{
      padding: 0%;
      margin: 0%;
    }
    .tab-links{
        margin-right: 40px;
    }
    .banner__right{
        flex-basis: 100%;
    }
    .contactInfo{
      align-content: center;
      font-size: 18px;
      margin-left: 10%;
    }
    .contactInfo p i{
      font-size: 20px;
      margin-right: 10px;
    }
    .social-icons{
      margin: 5px 10%;
    }
    .social-icons a{
      font-size: 35px;
      margin-right: 5px;
    }
    .contactMe .banner{
      display: grid;
    }
    .aboutMeContainer{
      margin-left: 10%;
    }
    .contactMe .banner .banner__left{
      width: 100%;
    }
    .contactMe .banner .banner__right{
      width: 100% ;
    }
    .cForm{
      
      margin: 5%;
    }
    
    .contactform{
        width: 100%;
        padding-left: 0%;
    }
    form input, form textarea{
        width: 90%;
    }
}
